{# templates/account/confirmed.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Account Confirmed{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Account Confirmed</h1>
        <p>Your account has been successfully confirmed. You can now log in.</p>
    </div>
{% endblock %}
