{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Bienvenue sur le site de formation</h1>
    <div class="row">
        <h2>Theme</h2>
        {% for theme in themes %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ theme.name }}</h5>
                        <a href="{{ path('app_cursus_show', { id: theme.id }) }}" class="btn btn-primary">Voir les cursus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
